<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title>Week 4 - Assessment</title>
  </head>
  <body>

    <div id="content">
      <% flash.keys.each do |type| %>
        <div>
          <%= flash[type] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
